@import url('https://fonts.googleapis.com/css?family=Spectral:400,800');

@font-face {
  font-family: 'freeserifmusic';
  src: url('FreeSerifMusic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* Disable pull-down-to-refresh on mobile */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

body, button {
  font-family: 'Spectral', 'freeserifmusic', serif; 
  font-size: calc(1.5vh + 0.5vw);
}

h1 { font-size: 150%; }
h2 { font-size: 140%; font-weight: normal; }

a {
  text-decoration: underline;
  cursor: pointer;
  color: #2d5da6;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: inherit;
}

svg text::selection {
  background: none;
}
