@import url('https://fonts.googleapis.com/css?family=Spectral:400,800');

@font-face {
  font-family: 'freeserifmusic';
  src: url('FreeSerifMusic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #e4e4e4;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

body, button {
  font-family: 'Spectral', 'freeserifmusic', serif;
  font-size: 1.7vmax;
}

h2 {
  font-size: 2.3vmax;
  font-weight: normal;
}

h1 {
  font-size: 2.3vmax;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

svg text::selection {
  background: none;
}

body,
#root,
#app,
#layout {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

#wheel-container {
  overflow: hidden;
  text-align: center;
  position: relative;
}

#wheel-container #wheel {
width: 100%;
}

#wheel-container .corner {
  position: absolute;
  margin: 1vmax;
}

#wheel-container .top {
  top: 0;
}

#wheel-container .bottom {
  bottom: 0;
}

#wheel-container .left {
  left: 0;
}

#wheel-container .right {
  right: 0;
}

#wheel svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

#layout {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

@media (min-aspect-ratio: 1/1) {
  #layout {
    grid-auto-flow: column;
    grid-template-columns: 75vh auto;
    grid-template-rows: 10vh 75vh 15vh;
  }

  #menu {
    grid-row: 1 / -1;
  }
}

@media (min-aspect-ratio: 3/2) {
  #layout {
    grid-template-columns: 100vh 1fr;
    grid-template-rows: 1fr 10fr 30fr;
  }

  #wheel-container {
    order: -1;
    grid-row: 1 / -1;
  }

  #menu {
    grid-row: auto;
  }
}
