@import url('https://fonts.googleapis.com/css?family=Spectral:400,800');

@font-face {
  font-family: 'freeserifmusic';
  src: url('FreeSerifMusic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #e4e4e4;
}

h1, h2, h3 {
  margin: 0;
  text-align: center;
}

body, button {
  font-family: 'Spectral', 'freeserifmusic', serif;
  font-size: 1.7vmax;
}

h2 {
  font-size: 2.3vmax;
  font-weight: normal;
}

h1 {
  font-size: 2.3vmax;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #2d5da6;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: inherit;
}

svg text::selection {
  background: none;
}

body,
#root,
#app,
#layout {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

#wheel-container {
  overflow: hidden;
  text-align: center;
  position: relative;
}

#wheel-container #wheel {
width: 100%;
}

#wheel svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/**
 * Responsive stuff
 *
 * Start with tall narrow windows.
 * Add overrides for progressively greater aspect ratios
 */

#layout {
  display: grid;
  grid-template-rows: auto auto 100vw auto;
}

@media (min-aspect-ratio: 75/100) {
  #layout {
    grid-template-rows: auto 87vw auto;
  }
  #wheel {
    margin-top: 0;
  }
  #wheel svg {
    width: 87vw;
  }
}

@media (min-aspect-ratio: 90/100) {
  #layout {
    grid-auto-flow: column;
    grid-template-columns: 75vh auto;
    grid-template-rows: 10vh 15vh 75vh;
  }
  #toolbar {
    display: block;
  }
  #menu {
    grid-row: 1 / -1;
    margin-top: 5vmax;
  }
}

@media (min-aspect-ratio: 120/100) {
  #layout {
    grid-template-columns: 87vh auto;
    grid-template-rows: 13vh 87vh;
  }
  #wheel-container {
    grid-row: 2;
    grid-column: 1
  }
  #toolbar {
    margin-bottom: -9vmax;
  }
  #menu {
    grid-row: auto;
    margin-top: 9vmax;
    padding: 0 2vmax;
  }
}

@media (min-aspect-ratio: 180/100) {
  #layout {
    grid-template-columns: 100vh 1fr;
    grid-template-rows: 1fr 10fr 30fr;
  }
  #toolbar {
    margin-bottom: 0;
  }
  #wheel-container {
    grid-row: 1 / -1;
  }
  #menu {
    margin: 0;
  }
}
